.logoContainer{
    position: absolute;
    top: 50%;
    left: 43%;
    color: whitesmoke;
    text-shadow: -9px 9px 7px #7d060659;
    cursor: url('../../photos/find\ \(2\).png'), auto;
}

.logo{
    font-size: 4rem;
    font-family: 'Reenie Beanie', cursive;
    /* font-family: 'Marcellus SC', serif; */
    /* font-family: 'Cinzel Decorative', cursive; */
    /* font-family: 'Lekton', sans-serif; */
    padding: 0;
    margin: 0;
}

.mission{
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Staatliches', cursive;
    line-height: 40px;
}

@media only screen and (max-width: 768px) {
    .logoContainer{
        position: relative;
        top: 50%;
        left: 0;
        color: whitesmoke;
        color: whitesmoke;
        text-shadow: -9px 9px 7px #7d060659;
    }
    .logo{
        font-size: 4rem;
        font-family: 'Reenie Beanie', cursive;
        /* font-family: 'Marcellus SC', serif; */
        /* font-family: 'Cinzel Decorative', cursive; */
        /* font-family: 'Lekton', sans-serif; */
        padding: 0;
        margin: 0;
    }
    
    .mission{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-family: 'Staatliches', cursive;
        font-weight: 800;
    }
    
  }