.navLinks{
    top: -67px;
    left: -33px;
    width: 85%;
    height: 48%;
    position: absolute;
    cursor: url('../../photos/find\ \(2\).png'), auto;
}

.navItems{
    display: inline-flex;
    justify-content: space-around;
    margin: .2rem;
    margin-right: 2rem;
    font-size: 3.4rem;
    font-family: 'Staatliches', cursive;
    text-shadow: 0px 0px 20px white;
    padding: 0;
    cursor: url('../../photos/find\ \(2\).png'), auto;
}

.navItems:hover{
    cursor: url('../../photos/find\ \(2\).png'), auto;
}

a:hover{
    cursor: url('../../photos/find\ \(2\).png'), auto;
}

a{
    text-decoration: none;
    color: black;
}